body{

    display: flex;
    justify-content: center;
}

.red {
    width: 954px;
    height: 594px;
    background-color: #BE0909;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    height: 466px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

button {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FCFFFF;
    background-color: #468189;
    width: 202px;
    height: 48px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 12px black;
    cursor: pointer;

}

button:hover {
    transform: scale(1.1);
}

.yellow {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
}

.container {
    max-width: 954px;
    display: flex;
    justify-content: center;

}

label {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #FCFFFF;
}

input, textarea {
 background-color: #BE0909;
 border: none;
 border-bottom: 2px solid #9DBEBB;
}

textarea {
    resize: none;
}

::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FDFFFF;
    opacity: 100%;
    letter-spacing: 2px;
}

.image {
z-index: 2;

}